<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dream_Dev</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" id="logout" style="cursor: pointer;">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Dream_Dev - MultiClient Whiteboard</h1>
</div>

<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-4">
      <h2>Team Members</h2>

      <div class="fakeimg">
        <ul>
          <li>Archisman Karmakar</li>
          <li>Sayan Munshi</li>
          <li>Sudipta Ghosh</li>
        </ul>
      </div>

      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-8">
      <h2>About Website</h2>

      <div class="fakeimg">By seeing the current pandemic situation, it became hard for teachers to teach and students
        to study. In order to solve this problem, we have made an attempt to make an online whiteboard which will make
        the learning process easier and comfortable.
        By using this website, teacher can easily create a classroom and student can join the class after signing in
        to the website. Here, teacher can easily write anything on the board, he can draw any figures and also he can
        give permission to the students to access the whiteboard. Whiteboard's image can be saved and it can be send
        directly to the students via email.
        We have also given an option of group chat where anyone can write their message an everyone can see it.

      </div>
      <br>
    </div>
  </div>
</div>

<%- contentFor('title') %>
Dream_Dev | About

<%- contentFor('style') %>

<style>
  .fakeimg {
    height: auto;
    font-size: 16px;
    background: rgb(133, 131, 133);
    padding: 16px;
  }
</style>

<%- contentFor('script') %>

<script></script>