<!-- Code for navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Dream_Dev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/signin">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/signup">Signup</a>
            </li>
        </ul>
    </div>
</nav><br>

<div class="container" style="position: absolute;top:12%;left: 4%;z-index: 10;">
    <div class="toast" data-delay=4000>
        <div class="toast-header"><strong class="toast-head"></strong></div>
        <div class="toast-body"></div>
    </div>
</div>

<!-- Code for form of Sign in and Sign up -->
<section class="Form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-7 px-2 pt-4">
                <h1 class="font-weight-bold py-3">Dream_Dev</h1>
                <h4>Reset Password</h4>
                <form id="resetPassword">
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="email" placeholder="Enter your Registered Email" class="form-control my-2 p-4"
                                required id="email">
                        </div>
                    </div>
                    <div class="form-row my-2">
                        <div class="col-lg-7">
                            <button type="submit" class="btn1">Reset Password</button>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</section>

<%- contentFor('title') %>
Dream_Dev - Reset Password

<%- contentFor('style') %>

<link rel="stylesheet" href="/static/css/signup.css">

<%- contentFor('script') %>
<script src="/static/js/resetPassword.js"></script>