* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: blanchedalmond;
}

.row {
    background: rgb(244, 246, 250);
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}

img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background: white;
    border: 1px solid;
    color: black;
}

@media screen {
    .container {
        width: 100vw;
        padding-left: 0px;
        padding-right: 90px;
    }
}

@media only screen and (max-width:450px) {
    .form-control {
        font-size: 3vw;
    }

    h1 {
        font-size: 8vw;
    }

    h4 {
        font-size: 5vw;
    }

    body {
        font-size: 3vw;
    }
}

@media only screen and (max-width:360px) {
    .form-control {
        font-size: 2vw;
    }

    h1 {
        font-size: 6vw;
    }

    h4 {
        font-size: 4vw;
    }
}